<%include ../partials/header %>

<%if(currentUser && String(user.id) === String(currentUser._id)) {%>
    <h2>Your posts</h2>
<%} else {%>
    <h2><%=user.username%>'s posts</h2>
<%}%>

<div class="container ">
    <h1>recent posts</h1>
    <% user.posts.reverse().forEach(function(post) { %>
        <div class="post">
            <h3 class="title top">
                <a href="/index/<%=post._id%>">
                    <%=post.title%>
                </a>
            </h3>
            <div class="thumbnail">
                <% if(post.image){ %>
                    <a href="/index/<%=post._id%>"><img src="<%=post.image%>" alt="<%= post.title %>"></a>
                <%}%>
                <div class="caption">
                    <p>
                        <%if(post.content.length > 100) {%>
                            <%=post.content.substring(0, 100)%>...
                        <%} else {%>
                            <%=post.content%>
                        <%}%>
                    </p>
                </div>
            </div>
        </div>
    <%});%>
</div>



<%include ../partials/footer %>