<%include ../partials/header %>

<h1><%=post.title%></h1>

    <h3><%=post.title%></h3>
    <% if(post.image){ %> <img src="<%=post.image%>" alt="<%= post.title %>"> <%}%>
    <p><%=post.content%></p>
    
    <a href="/index/<%=post._id%>/edit">edit</a>
    <form action="/index/<%=post._id%>?_method=DELETE" method="post">
        <input type="submit" value="Delete">
    </form>

<h4>comments</h4>
<!--add comment-->
<form action="/index/<%=post._id%>/comments" method="post">
    <input type="text" name="comment[text]" placeholder="write a comment" required>
    <input type="submit" value="Post">
</form>

<% post.comments.forEach(function(comment) { %>
  <p><a href="/profile/<%=comment.author.id%>"><%=comment.author.username%></a></p>    
  <p><%=comment.text%></p>
   
   <a href="/index/<%=post._id%>/comments/<%=comment._id%>/edit">edit</a>
   <form action="/index/<%=post._id%>/comments/<%=comment._id%>?_method=DELETE" method="post">
        <input type="submit" value="Delete">
    </form>
<%});%>
<%include ../partials/footer %>